@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;400;700;900&family=Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, sans-serif;
  /* line-height: 1.3; */
}

.container {
  background-color: rgb(27, 25, 25);
  min-height: 100vh;
  padding: 2rem 0rem;
  display: grid;
  grid-template-areas: 1fr 1fr/ 1fr 1fr;
  place-items: center;
}
.title {
  margin: 0;
  letter-spacing: 5px;
}
.markDown {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
    align-items: center; */
  padding: 1rem;
}

#editor {
  background-color: rgb(44, 25, 104);
  height: 80vh;
  width: 450px;
  color: white;
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  outline: none;
  border: none;
}

#preview {
  background-color: rgb(60, 134, 163);
  height: 80vh;
  width: 450px;
  color: rgb(240, 240, 243);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  overflow-y: scroll;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

@media screen and (max-width: 960px) {
  .markDown {
    display: block;
  }
  #editor {
    width: 80vw;
    height: 25vh;
    margin-bottom: 10px;
  }

  #preview {
    width: 80vw;
    height: 50vh;
  }
}

img {
  max-width: 100%;
  border-radius: 3px;
}
hr {
}
ul,
ol {
}
a {
  text-decoration: none;
}
a:visited {
  color: rgb(32, 12, 145);
}

blockquote {
  border-left: 3px solid yellow;
  margin-left: 20px;
  padding-left: 5px;
}

p {
}

code {
  background-color: rgb(247, 240, 240);
  /* display: block; */
  color: black;
  padding: 10px;
  border-radius: 3px;
}
pre code {
  display: block;
}
